<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <glassMapper.addMaps>
        <processor type="Hackathon.Feature.Navigation.ORM.RegisterMappings, Hackathon.Feature.Navigation" />
      </glassMapper.addMaps>
    </pipelines>
  </sitecore>
</configuration>
