@using Glass.Mapper.Sc.Web.Mvc
@model Hackathon.Feature.Teams.ViewModels.PreviousWinnersViewModel

<div class="row">
    <div class="span6">
        <!-- Description -->
        <h4>Previous Winners</h4>
        <dl>
            @foreach (var year in Model.Years)
            {
                <dt>@year.Year</dt>
                foreach (var detail in year.Details)
                {
                    if (string.IsNullOrEmpty(detail.Link))
                    {
                        <dd>@detail.Text</dd>
                    }
                    else
                    {
                        <dd><a class="text-error" href="@detail.Link">@detail.Text</a></dd>
                    }

                }
            }
            
        </dl>
    </div>
</div>